body {
	background-color: #171717;
}

.panel {
	border-width: 0;
}

.navbar {
	border-radius: 0;
}

.navbar {
	background: #3D3D3D;
}

.navbar-nav {
	width: 100%
}

.toggle-list, .template-list {
	border-top: 1px solid #333;
	list-style-type:none;
	padding: 0 35px 0 0;
	width: 100%;
	z-index: 401;
}

.navbar .navbar-nav > li > a {
	color: #E18728
}

.navbar .navbar-nav > li > a, .toggle-list a, .template-list a {
	color: #E18728
}

.navbar-default {
	background-color: #3D3D3D;
	border-color: #3D3D3D;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #E18728;
	color: #3D3D3D;
}

.navbar-default .nav li:hover {
	background-color: #E18728
}

.dr-doodle-icon {
	display: block;
	height: 30px;
	left: 50%;
	margin-left: -101px !important;
	position: absolute;
	top: 10px;
}

.navbar .nav .open-dev-tools, .navbar .nav .reload {
	padding: 13px 15px 12px;
}

#doodlesMenu {
	background-color: #111;
	box-shadow: 2px 4px 8px #000;
	bottom: 0;
	left: -305px;
	opacity: 0.8;
	position: fixed;
	top: 52px;
	transform: translate(0, 0);
	transition: transform 150ms;
	width: 300px;
	z-index: 500;
}

.doodles-menu-open #doodlesMenu {
	transform: translate(305px, 0);
}

#wrapperOverlay {
	background-color: #222;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 52px;
	transition: opacity 200ms;
	z-index: -1;
}

.doodles-menu-open #wrapperOverlay {
	opacity: 0.5;
	z-index: 10;
}

.doodles-section {
	border-bottom: 1px solid #333;
	padding: 10px;
}

.doodles-section input, .doodles-section label {
	color: #E18728;
	font-size: 16px;
}

.doodles-section input {
	background: transparent;
	border-width: 0;
	border-bottom: 1px solid;
	outline: none;
}

.doodles-section label {
	color: #AAA;
}

.save-doodle {
	color: #E18728;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	padding: 4px 12px;
}

.save-doodle:hover {
	text-shadow: 0px 0px 6px #FCB716;
}

.doodles-menu-content .section-title {
	color: #E18728;
	font-size: 22px;
	padding-bottom: 10px;
}

.doodle-list {
	color: #BBB;
	list-style: none;
	padding: 0;
}

.doodle-list li {
	cursor: pointer;
}

.doodle-list li:hover {
	color: #EEE;
}

.template-list, .toggle-list {
	padding: 15px 0;
	top: 51px;
}

.template-list > li, .toggle-list > li {
	padding: 5px 15px;
}

.template-list > li:hover > a, .toggle-list > li:hover > a {
	color: #3D3D3D;
	text-decoration: none;
}

.template-list > li:hover, .toggle-list > li:hover {
	background: #E18728;
}

.panel {
	border-radius: 0;
	position: relative;
}

.panel-title {
	bottom: 10px;
	color: #555;
	font-size: 30px;
	position: absolute;
	right: 20px;
}

#outputFrame {
	border-width: 0;
	width: 100%;
}

.options-toggle {
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 2px 6px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 301;
}

.options-toggle i {
	cursor: pointer;
}

.options {
	display: none;
}

.options.open {
	background-color: #222;
	bottom: 0;
	color: white;
	display: block;
	left: 0;
	opacity: 0.8;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 300;
}

#menuToggle, .open-dev-tools, .reload {
	font-size: 25px;
}

.col-sm-6 {
	padding: 0 15px 0 0;
}

.container-fluid > .row {
	margin-left: 15px;
}

.container-fluid {
	padding: 0;
	margin: 0 15px 0 0;
}

.CodeMirror {
	height: 100%;
}