body {
	background-color: #171717;
}

.panel {
	border-width: 0;
}

.navbar {
	border-radius: 0;
}

.navbar-collapse {
	background: #3D3D3D;
}

.navbar-nav {
	width: 100%
}

.toggle-list, .template-list {
	background-color: #333;
	list-style-type:none;
	padding: 0 35px 0 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.navbar .navbar-nav > li > a {
	color: #E18728
}

.navbar .navbar-nav > li > a, .toggle-list a, .template-list a {
	color: #E18728
}

.navbar-default {
	background-color: #3D3D3D;
	border-color: #3D3D3D;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #E18728;
	color: #3D3D3D;
}

.navbar-default .nav li:hover {
	background-color: #E18728
}

.panel {
	border-radius: 0;
	position: relative;
}

#outputFrame {
	border-width: 0;
	width: 100%;
}

.options-toggle {
	color: white;
	cursor: pointer;
	display: none;
	font-size: 16px;
	padding: 2px 6px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.options-toggle i {
	cursor: pointer;
}

.show-options .options-toggle {
	display: inline-block;
}

.options {
	display: none;
}

.hamburger-toggle {
	font-size: 25px;
}

.col-sm-6 {
	padding: 0 15px 0 0;
}

.container-fluid > .row {
	margin-left: 15px;
}

.container-fluid {
	padding: 0;
	margin: 0 15px 0 0;
}

.CodeMirror {
	height: 100%;
}